<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Food Read</title>
</head>
<body>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Food Read
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text">FOODNAME</span>
                    <input type="text" class="form-control" th:value="${dto.foodName}" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">CATEGORY</span>
                    <input type="text" class="form-control" th:value="${dto.category}" readonly>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">DESCRIPTION</span>
                    <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.description}]]</textarea>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">PRICE</span>
                    <input type="text" class="form-control" th:value="${dto.price}" readonly>
                </div>


                <div class="my-4">
                    <div class="float-end" th:with="link = ${requestDTO.getLink()}">
                        <a th:href="|@{/food/list}?${link}|" class="text-decoration-none">
                            <button type="button" class="btn btn-primary">List</button>
                        </a>
                        <a th:href="|@{/food/modify(foodName=${dto.foodName})}&${link}|" class="text-decoration-none">
                            <button type="button" class="btn btn-secondary">Modify</button>
                        </a>
                    </div>
                </div>

            </div><!--end card body-->

            <div class="col">
                <div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                    <img class="card-img-top"
                         th:each="fileName: ${dto.fileNames}"
                         th:src="|/view/${fileName}|">
                </div>


        </div><!--end card-->
    </div><!-- end col-->
</div><!-- end row-->
</div>

</body>
</html>

